.contactBtn {
  display: block;
  padding: 10px;
  /* margin-left: auto; */
  color: rgb(84, 5, 84);
  border: 2px solid rgb(145, 93, 193);
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.contactBtn:hover {
  cursor: pointer;
  background-color: rgb(103, 42, 98);
  color: rgb(196, 161, 196);
}
.contactItemWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(145, 93, 193);
  background-color: white;
  padding: 10px;
  width: 350px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.contactItemWrap:hover {
  cursor: pointer;
  background-color: rgb(103, 42, 98);
  color: rgb(196, 161, 196);
}
