.form {
  padding: 10px;
}
.formLabel {
  display: flex;
  flex-direction: column;
  color: rgb(87, 22, 143);
  margin-bottom: 15px;
}
.formText {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(87, 22, 143);
  margin-bottom: 20px;
}
.formInput {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(158, 111, 202);
  transition: background-color 200ms linear;
}
.formInput::placeholder {
  color: rgb(87, 22, 143);
  opacity: 0.3;
}
.formInput:focus {
  outline: none;
  border-radius: 5px;
  background-color: white;
  transition: background-color 200ms linear;
}
.errorMsg {
  font-size: 14px;
  color: rgb(209, 34, 34);
}
.formBtn {
  display: block;
  padding: 15px;
  color: white;
  border: 2px solid rgb(145, 93, 193);
  background-color: rgb(106, 42, 117);
  border-radius: 25px;
  width: 170px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  margin: 0 auto;
}
.formBtn:hover {
  cursor: pointer;
  background-color: rgb(103, 42, 98);
  color: rgb(196, 161, 196);
  transform: scale(1.1);
}
